body{
    background-image: url("https://scruffythejanitor.github.io/TriviaGame/assets/images/5pr2d6fopii31.jpg");
    -webkit-background-size: cover;
}
.middle{
    width: 400px;
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    text-align: center;
    z-index: 100;
    color: black;
    
}
.counter{
    text-align: center;
    font-size: 80px;
}
.question{
    font-size: 30px;
}
.one, .two, .three, .four{
    margin: 5px;
    background-color: rgb(56, 134, 69);
    float: left;
    width: 400px;
    font-size: 20px;
    color: white;
}
.game-contian{
    height: 400px;
    height: 400px;
}
.portal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-left: -400px;
    background-image: url("https://scruffythejanitor.github.io/TriviaGame/assets/images/giphy.gif");
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}