.middle{
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    text-align: center;
}
.counter{
    text-align: center;
}
.question{
    text-align: center;
}
.one, .two, .three, .four{
    margin: 5px;
    background-color: rgb(56, 134, 69);
    float: left;
    width: 400px;
    font-size: 20px;
    color: white;
}
.bg{
    background: url('/assets/images/giphy.gif');
}